<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notícias</title>
    <link rel="stylesheet" href="/front-end/css/style.css">
</head>

<body>
    <header>
        <h1>Notícias sobre o ENEM</h1>
        <nav>
            <a href="/front-end/views/index.html">Início</a>
            <a href="/front-end/views/ content-youtube.html">YouTube</a>
            <a href="/front-end/views/content-rec.html">Conteúdos Recomendados</a>
            <a href="/front-end/views/content-simulados.html">Simulados Recomendados</a>
            <a href="/front-end/views/content-noticias.html">Notícias ENEM</a>
            <a href="/front-end/views/content-cursos.html">Cursos ENEM</a>
        </nav>
    </header>

    <section id="noticias">
        <h2>Últimas Notícias sobre o ENEM</h2>
        <ul>
            <li><a href="https://www.g1.globo.com/educacao/noticia/enem-2025" target="_blank">ENEM 2025: O que você precisa saber</a></li>
            <li><a href="https://noticias.uol.com.br/educacao/2025/02/28/enem-reformulado-g1" target="_blank">Mudanças no ENEM: O que muda para os alunos?</a></li>
            <li><a href="https://www.estadao.com.br/educacao/novo-enem-e-oportunidade-para-desenvolvimento-de-alunos" target="_blank">Oportunidade de mudanças no ENEM</a></li>
        </ul>
    </section>

    <footer>
        <p>Plataforma ENEM - 2025</p>
    </footer>
</body>

</html>
