<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conteúdos De Estudo</title>
    <link rel="stylesheet" href="/front-end/css/style.css">
</head>

<body>
    <header>
        <h1>Conteúdos de  estudo</h1>
        <nav>
            <a href="/front-end/views/index.html">Início</a>
            <a href="/front-end/views/ content-youtube.html">YouTube</a>
            <a href="/front-end/views/content-rec.html">Conteúdos Recomendados</a>
            <a href="/front-end/views/content-simulados.html">Simulados Recomendados</a>
            <a href="/front-end/views/content-noticias.html">Notícias ENEM</a>
            <a href="/front-end/views/content-cursos.html">Cursos ENEM</a>
        </nav>
    </header>

    <section id="conteudos">
        <h2>Conteúdos Oferecidos pela Plataforma</h2>
        <p>Explore nossos conteúdos educacionais e melhore seus estudos para o ENEM:</p>
        <ul>
            <li><a href="https://www.estudegratis.com.br/" target="_blank">Estude Grátis: Acesso a materiais gratuitos de estudo</a></li>
            <li><a href="https://www.todamateria.com.br/" target="_blank">Toda Matéria: Artigos, resumos e exercícios para o ENEM</a></li>
            <li><a href="https://www.khanacademy.org/" target="_blank">Khan Academy: Vídeos e exercícios gratuitos para todas as matérias</a></li>
            <li><a href="https://www.matematicaviva.com.br/" target="_blank">Matemática Viva: Plataforma de ensino de Matemática para o ENEM</a></li>
            <li><a href="https://www.youtube.com/results?search_query=enem+2025" target="_blank">Canais do YouTube sobre o ENEM: Vídeos educativos e dicas</a></li>
        </ul>
    </section>

    <footer>
        <p>Plataforma ENEM - 2025</p>
    </footer>
</body>

</html>
