<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Plataforma ENEM</title>
  <link rel="stylesheet" href="../css/style.css">
</head>
<body>
  <header>
    <h1>Bem-vindo à Plataforma ENEM</h1>
    <nav>
      <a href="../views/login.html"></a> | <a href="../views/cadastro.html">Cadastro</a>
    </nav>
  </header>

  <section id="conteudos-recomendados">
    <h2>Conteúdos recomendados</h2>
    <ul>
      <li><a href="../views/content-simulados.html">Simulados</a></li>
      <li><a href="../views/ content-youtube.html">Canais no YouTube</a></li>
      <li><a href="../views/content-cursos.html">Cursinhos Online</a></li>
      <li><a href="../views/content-noticias.html">Notícias do ENEM</a></li>
    </ul>
  </section>

  <footer>
    <p>&copy; 2025 Plataforma ENEM</p>
  </footer>
</body>
</html>
