<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ENEMzadas</title>
  <link rel="stylesheet" href="../css/index.css">
</head>
<body>
  <header>
    <nav>
      <div class="nav-logo"><img src="../images/indexLogo.png"></div>
      <div class="nav-links">
        <a href="/front-end/views/login.html" class="btn">Login</a>
        <a href="/front-end/views/cadastro.html" class="btn">Cadastro</a>
        <a href="/front-end/views/quemsomos.html" class="btn">Quem somos</a>
      </div>
  
    </nav>
  </header>
  
  <main class="content">
    <div class="text-left">
      <h1>O esforço de hoje será o sucesso de amanhã!</h1>
      <p>Transforme seu futuro com conhecimento: estude conosco e alcance seus sonhos!</p>
      <a href="/front-end/views/experimente.html" class="btn experimente">Experimente Grátis</a>
    </div>
    <div class="image-right-img">
      <img src="../images/imagemindex2.PNG.png">
    </div>
  </main>
</body>
</html>
