<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ENEMzadas</title>
  <link rel="stylesheet" href="/front-end/css/index.css">
</head>
<body>
  <header>
    <nav>
      <div class="nav-links">
        <a href="/front-end/views/login.html" class="btn">Login</a>
        <a href="/front-end/views/cadastro.html" class="btn">Cadastro</a>
      </div>
    </nav>
  </header>
    <div class="quemSomos">
    <h1>Quem somos</h1>
    
  </div>

  <main class="content">
     
  </main>
</body>
</html>